<h1>Listing oranges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @oranges.each do |orange| %>
  <tr>
    <td><%= orange.name %></td>
    <td><%= orange.brand %></td>
    <td><%= link_to 'Show', orange %></td>
    <td><%= link_to 'Edit', edit_orange_path(orange) %></td>
    <td><%= link_to 'Destroy', orange, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orange', new_orange_path %>
