<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @orange.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @orange.brand %>
</p>


<%= link_to 'Edit', edit_orange_path(@orange) %> |
<%= link_to 'Back', oranges_path %>
